<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>Index</title>
</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <label><input type="text" name="q1"></label>
        <div class="forecast">
            <p>Jutro: 30 stopni</p>
            <p>26.08.2023: 30 stopni</p>
            <p>27.08.2023: 30 stopni</p>
        </div>
    </div>
</body>
</html>

<script>
  
</script>