<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>Index</title>
</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <p class="paragraph-weather">Weather data table</p>
        <label><input id="city" type="text" name="q1" placeholder="City name"></label>
        <div class="forecast">
            <h1></h1>
            <p class="day-data"></p>
            <p class="day-data"></p>
            <p class="day-data"></p>
        </div>
    </div>
<script>
const app_url = window.location.href.split('/')[2]
city.addEventListener('keypress', function (e) {
    if (e.key === 'Enter') {
        city = document.getElementById("city")
        getTemp(city.value)
    }
});
async function getTemp(city) {
    const api_url =  `https://${app_url}/api/weather?city=${city}`
    const response_get = await fetch(api_url, {
      method: "GET"
      });
    const response_get_json = await response_get.json()
    if (response_get.status == "200") {
        days = [...document.getElementsByClassName("day-data")]
        days.forEach((day, index) => {
            dayData = response_get_json[index]
            day.innerText = `${dayData.date}, ${dayData.weekday}, day temperature: ${dayData.day_temp}, night temperature: ${dayData.night_temp}`
        })
    }
    else {
        alert(response_get_json.error)
    }
    }
</script>
{% include "footer.html" %}
</body>
</html>

