<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='scores.css') }}"><title>Scores Table</title>
</head>
<body>
    {% include "header.html" %}
    <div>
    <a href="{{ url_for('quiz')}}">Wróć</a>
    
    <div class="container">
        <table class="scores-table">       
            <thead>
              <tr>
                <th>Username</th>
                <th>High Score</th>
              </tr>
            </thead>
            <tbody>
              {% for score in scores %} 
              <tr>
                <td>{{score.username}}</td>
                <td>{{score.score}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>
